// Globally used classes for ExtraHop's brand colors

// Text color
.text-gray {
    color: $gray;
}

.text-sapphire {
    color: $sapphire;
}

.text-plum {
    color: $plum;
}

.text-magenta {
    color: $magenta;
}

.text-cyan {
    color: $cyan;
}

.text-tangerine {
    color: $tangerine;
}

.text-lime {
    color: $lime;
}
.text-deep-blue {
    color: $deep-blue;
}
.text-dark-blue {
    color: $dark-blue;
}
.text-teal {
    color: $teal;
}


// Background color or background gradient

.bg-black {
    background-color: $black;
}
.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-pale-gray {
    background-color: $pale-gray;
}

.bg-gray {
    background-color: $gray;
}

.bg-saphhire {
    background-color: $sapphire;
}

.bg-plum {
    background-color: $plum;
}

.bg-gradient {
    background: $gradient;
}

.bg-gradient-reverse {
    background: $gradient-reverse;
}

.bg-vgradient {
    background: $vgradient;
}

.bg-magenta {
    background-color: $magenta;
}

.bg-magenta-gradient {
    background: $magenta-gradient;
}

.bg-cyan {
    background-color: $cyan;
}

.bg-cyan-gradient {
    background: $cyan-gradient;
}

.bg-cyan-light {
    background-color: $cyan-light;
}

.bg-tangerine {
    background-color: $tangerine;
}

.bg-tangerine-gradient {
    background: $tangerine-gradient;
}

.bg-lime {
    background-color: $lime;
}

.bg-lime-gradient {
    background: $lime-gradient;
}
