@import './variables';
@import './colors';

.carouselQuotes {
    overflow: hidden;

    #carouselTabs {
        position: relative;
        height: 300px;

        .carouselItem {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;

            .heading, .subheading {
                position: relative;
                transition: all 0.25s;
                left: $large;
            }

            .heading {
                max-width: 550px;

                @media screen and (max-width: $width-md) {
                    // font-size: $fs-h2;
                }
            }

            .subheading {
                transition-delay: 0.07s;
                max-width: 600px;

                @media screen and (max-width: $width-md) {
                    font-size: $fs-h5;
                }
            }

            &:not(.active) {
                pointer-events: none;
                z-index: 2;

                .heading, .subheading {
                    opacity: 0;
                }
            }

            &.active {
                z-index: 3;

                .heading, .subheading {
                    left: 0;
                }
            }

            &.deactivate {
                .heading, .subheading {
                    left: -$med;
                }
            }
        }
    }

    #tabSelection {
        position: relative;
        z-index: 3;

        .tabSelector {
            cursor: pointer;

            .tabBar {
                height: 5px;
                background-color: rgba(0,0,0,0.15);

                .tabBarFill {
                    width: 0;
                    height: 5px;
                    opacity: 0;
                    transition-property: width, opacity;
                    transition-duration: 0s, .25s;
                    transition-delay: .25s, 0s;

                    &.locked {
                        width: 100%;
                    }
                }
            }

            &.active {

                .tabBar .tabBarFill {
                    width: 100%;
                    opacity: 1;
                    transition-duration: 5s, .25s;
                    transition-delay: 0s, 0s;

                    &.locked {
                        transition-duration: 0s, .25s;
                    }
                }
            }
        }
    }
}
